{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'kapp/css/styles.css' %}">

    <title>Login</title>
    <style>
      body {
      background:url("{% static 'kapp/images/bg.jpg'%}");
      background-repeat: no-repeat;
      backface-visibility: visible;
      background-size: cover;
    }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            style="color: white; font-size: 150%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">TAEKAR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" style="color: white;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">Book</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  style="color: white;">
                  City
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Pune</a></li>
                  <li><a class="dropdown-item" href="#">Mumbai</a></li>
                  <li><a class="dropdown-item" href="#">Satara</a></li>
    
                  <!-- <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'help' %}" style="color: white;">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}" style="color: white;">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}" style="color: white;">Signup</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light btn-name" type="submit">Search</button>
    
              <!-- <button class="btn btn-outline-light btn-name" type="submit">Login</button>
              <button class="btn btn-outline-light btn-name" type="submit"><a href="signup">Signup</a></button> -->
              <script></script>
            </form>
    
          </div>
        </div>
      </nav>
      <br><br>



      <div class="container mt-5">
          <!-- Login form -->
          <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      
            {% csrf_token %} <!-- CSRF token for security -->
      
            <!-- Login heading -->
            <h3>Login</h3>
            <hr>
      
            {% if messages %}
            <div class="alert alert-primary" role="alert">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </div>
            {% endif %}
      
            <!-- Username input field -->
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="enter email id" required>
            </div>
      
            <!-- Password input field -->
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
            </div>
      
            <br>
            <center><button type="submit" class="btn btn-primary" style="width: 90px;">Submit</button></center>
          </form>
        </div>
      </body>
      </html>
        
</body>

</html>